<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <!-- 默认不将 packages 提交到源代码管理 -->
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <config>
    <!-- 指定这个目录下默认的 packages 目录 -->
  	    <add key="repositorypath" value="PocUserPanel/packages/" />
  </config>
  <packageRestore>
    <!-- 默认启用 packages 还原 -->
    <add key="enabled" value="True" />
  </packageRestore>
</configuration>